{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Crop Disease Diagnosis and treatment Recommendations">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shamba Doctor </title>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>

	<!-- Fallback to homescreen for Chrome <39 on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="ShambaDoctor">
    <link rel="shortcut icon" href="{% static 'images/wixlogo.jpg' %}" />
	<!-- Page styles -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,greek" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/combined.min.css' %}">
</head>
<body>

<header class="app-bar promote-layer">
	<div class="app-bar-container" style="background-color: #97e6a9">
		<h1 class="logo"><img src="{% static 'images/wixlogo.jpg' %}" alt="smartshamba" style="border-radius: 60%;" href="/"></h1>

	</div>

</header>
	{% include 'navbar.html' %}
	<section class="container" id="chart"></section>
	<section>
	        <nav class="navdrawer-container promote-layer " style="background-color: rgba(0,0,0,.87);" id="contact">
	            <div class="container text-center">
	                <p>Contact</p>
				<blockquote style="text-align: center">
					E-mail: <a href="mailto:liz240@live.com">info@shambadoc.co.ke</a>
				</blockquote>
	            </div>

			<p style="text-align: center;">
				<a href="#" target="_blank">
					<img alt="Android app on Google Play" src="{% static 'images/playstore.png' %}"  style="width: 10%;"/>
				</a>
			</p>
	        </nav>
	</section>
<script type="text/javascript">
Highcharts.chart('chart', {
	chart: {
			type: 'column'
	},
	title: {
			text: 'Monthly Average Rainfall'
	},
	subtitle: {
			text: 'Source: WorldClimate.com'
	},
	xAxis: {
			categories: {{counties | safe}},
			crosshair: true
	},
	yAxis: {
			min: 0,
			title: {
					text: 'Rainfall (mm)'
			}
	},
	tooltip: {
			headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
					'<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
			footerFormat: '</table>',
			shared: true,
			useHTML: true
	},
	plotOptions: {
			column: {
					pointPadding: 0.2,
					borderWidth: 0
			}
	},
	series: [{
			name: 'Tokyo',
			data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

	}, {
			name: 'New York',
			data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

	}, {
			name: 'London',
			data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

	}, {
			name: 'Berlin',
			data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

	}]
});
</script>
</body>
</html>
{% endblock %}
