{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}

{% block content %}
     <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block styles %}
        {% bootstrap_css %}
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:300,400,700|PT+Sans:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        <!-- Custom Theme files -->
        <link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:300,400,700|PT+Sans:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        <!-- Custom Theme files -->
        <link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
        {% endblock %}

	<title>Shamba Doctor </title>


	<!-- Fallback to homescreen for Chrome <39 on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="ShambaDoctor">
    <link rel="shortcut icon" href="{% static 'images/wixlogo.jpg' %}" />



	<!-- Page styles -->
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,greek" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/combined.min.css' %}">
</head>

<header class="app-bar promote-layer">
	<div class="app-bar-container" style="background-color: #97e6a9">
		<h1 class="logo"><img src="{% static 'images/wixlogo.jpg' %}" alt="smartshamba" href="/" style="border-radius: 60%;"></h1>

	</div>

</header>


	{% include 'navbar.html' %}
<!-- <nav class="navdrawer-container promote-layer">
	<h4>Navigation</h4>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="{% url 'how' %}">How it works</a></li>
        <li><a href="#">Map View</a></li>
	</ul>
</nav> -->







    </head>
    <body>


        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script language="javascript" type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{% static 'leaflet/leaflet.js' %}"></script>
        <script src="{% static 'js/plugins/leaflet.ajax.min.js' %}"></script>
         <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

        {% bootstrap_javascript %}

      <script src="{% static 'js/scripts.js' %}"></script>
        {% endblock %}

    <script>
        $(document).ready(function(){
    var map = L.map('id_location_map').setView([-0.261360, 35.050093], 8);
            mapLink ='<a href="http://openstreetmap.org">OpenStreetMap</a>';
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; ' + mapLink,
              maxZoom:32,
              }).addTo(map);

            function onMapClick(e) {
              var lat = e.latlng.lat;
              var lng = e.latlng.lng;
              if (typeof marker != 'undefined') {
                  map.removeLayer(marker);  // delete previous marker
                  marker = L.marker([lat, lng]).addTo(map);  // add new marker
              }
              else {
                  marker = L.marker([lat, lng]).addTo(map);  // add new marker
              }
              $('#coordinates').val(lng + ',' + lat)
            }
            map.on('click', onMapClick);
            function moveto(loca){
                let lat = loca.coords.latitude;
                let lng = loca.coords.longitude;
                map.setView([lat, lng], 13);
                marker = L.marker([lat, lng]).addTo(map);
                $('#coordinates').val(lng + ',' + lat)
            }
           navigator.geolocation.getCurrentPosition(moveto)
        });


    </script>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form action="{% url 'upload_image' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
              <div class="form-group">
                <label for="formGroupExampleInput">Location</label>
                <div id='id_location_map' style="height: 400px"></div>
                <input id="coordinates" name="coordinates" class="form-control" type="hidden" value="" required>
              </div>
              <button class='btn btn-success'>submit</button>

          </form>
        </div>
    </div>
</div>

{{ form.media }}
{% endblock %}
</body>
