{% extends 'base.html' %}
{% load bootstrap4 %}
{% include 'navbar.html' %}
{% load static %}

{% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Crop Disease Diagnosis and treatment Recommendations">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shamba Doctor </title>


	<!-- Fallback to homescreen for Chrome <39 on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="ShambaDoctor">
    <link rel="shortcut icon" href="{% static 'images/wixlogo.jpg' %}" />



	<!-- Page styles -->
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,greek" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/combined.min.css' %}">
</head>
<body>

<header class="app-bar promote-layer">
	<div class="app-bar-container" style="background-color: #97e6a9">
		<h1 class="logo"><img src="{% static 'images/wixlogo.jpg' %}" alt="smartshamba" style="border-radius: 60%;"></h1>

	</div>

</header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form action="{% url 'upload_image' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-success btn-lg" value="POST">
            </form>
        </div>
    </div>
</div>
{{ form.media }}
{% endblock %}