{% extends 'base.html' %}
{% block content %}
<div class="ui menu raised">
  <a class="item">Smart Farm</a>
  <a class="item">Services</a>
  {% if user.is_authenticated %}
    <div class="right menu">
      <a class="item" href="/accounts/register/">My Account</a>
      <a class="item" href="/logout">Logout</a>
    </div>
  {% else %}
  <div class="right menu">
    <a class="item">Contact</a>
    <a class="item" href="/accounts/register/">Sign Up</a>
  </div>
  {% endif %}
</div>
{% endblock %}
